.singleProject {
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  /* border: 1px solid rgb(11, 255, 80); */
}

.projectContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(255, 32, 214); */
}

.left-div > h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 600;
  font-size: 1.525rem;
  line-height: 110%;
  text-align: center;
}
.coursal img {
  width: 100%;
  height: 250px;
}

.left-div:hover img {
  /* opacity: 0; */
}
.left-div {
  width: 40%;
  height: 90%;
  /* border: 1px solid yellow; */
}
.left-div > img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.7s 0.3s;
  /* border: 1px solid rgb(255, 0, 0); */
}

.right-div {
  /* border: 1px solid rgb(255, 246, 145); */
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-div .project--showcaseBtn {
  display: flex;
  /* margin-bottom: 20px; */
  /* flex-direction: column; */
  align-items: right;
  gap: 10px;
  justify-content: center;
  width: 30%;
  /* border: 1px solid rgb(25, 216, 241); */
}

.right-div .project--showcaseBtn > a {
  cursor: pointer;
  text-decoration: none;
  /* transition: transform 0.5s 0.3s; */
}

.right-div:hover .project--showcaseBtn a:nth-child(2) {
  /* transform: translateX(-140px) scale(1.1) !important; */
}

.right-div .project--desc {
  /* position: absolute; */
  width: 95%;
  margin-top: 20px;
  /* height: 160px;
  left: 0;
  top: 0; */
  /* transform: translate(-110%, 40%); */
  padding: 15px;
  border-radius: 0 20px 20px 0;
  /* transition: transform 0.9s; */
  /* line-height: 110%; */
  /* margin-bottom: 20px; */
  align-items: center;
  justify-content: center;
  font-family: var(--primaryFont);
  /* border: 1px solid rgb(0, 255, 247); */
}

.right-div:hover .project--desc {
  /* transform: translate(-2%, 40%); */
}

.right-div .project--lang {
  /* position: absolute; */
  margin-bottom: 20px;
  right: 0;
  margin-top: 20px;
  width: 95%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  /* transform: translateX(100%); */
  /* transition: transform 0.5s 0.3s; */
  padding: 0.825rem;
  /* border: 1px solid red; */
}

.right-div:hover .project--lang {
  /* transform: translateX(0); */
}

.right-div .project--lang > span {
  font-family: var(--primaryFont);
  font-weight: 500;
  word-break: break-word;
  line-height: 100%;
  /* border: 1px solid red; */
}

@media only screen and (max-width: 768px) {
  .singleProject {
    width: 100%;
    height: 800px;
    padding: 0.5rem 0.5rem;
  }
  .projectContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .left-div {
    width: 100%;
    height: auto;
    /* border: 2px solid rgb(0, 255, 38); */
    padding: 5px 5px;
  }
  .right-div {
    /* border: 5px solid rgb(255, 247, 153); */
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  .right-div .project--lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .coursal img {
    width: 100%;
    height: 250px;
  }
  .left-div > img {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.7s 0.3s;
    /* border: 1px solid rgb(255, 0, 0); */
  }
}
